@import './reset.css';

:root {
    --app-dark-blue:#1a1d28;
    --app-orange:#d67112;
    --app-orange-hover: #bd630f;
    --app-green-hover:#167239;
    --app-light-bg: rgba(221, 221, 221, 0.5);
    --text-color: rgb(0, 0, 0, 0.8);;
}

body {
    background-color: rgb(172, 186, 188, 0.1);
    height: 100vh;
    color: var(--text-color);
}


html {
    scroll-behavior: smooth;
    transition: all 0.25s ease-in-out;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* -------------------------------- */
/* Header                           */
/* -------------------------------- */


header {
    width: 100%;
    height: 66px;
    overflow: hidden;
    background-color: transparent;
    z-index: 333;
    padding: 8px 0px;
    margin-inline: auto;
    border: none;
    /* background-color: #acbabc; */
}

.flexbox {
    display: flex;
}

.title {
    width: 30%;
    height: 46px;
}

.fa-candy-bar {
    color: var(--app-orange);
}


.title h1{
    font-size: 22px;
    font-weight: 500;
    color: var(--app-orange);
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

nav {
    width: 70%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 50px;
    cursor: default;
}

nav ul li a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

nav ul li a:hover {
    color: var(--app-orange);
}

nav ul li + li {
    margin-left: 30px;
}

.hamburger-menu {
    display: none;
}

/* -------------------------------- */
/* Banner                           */
/* -------------------------------- */

section.hero-banner {
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 0px;
    background-image: linear-gradient(rgb(0 0 0/ 0.45), rgb(0 0 0/ 0.6)),url("../media/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner {
  height: 100%;
}


.banner p {
    margin-top: 2rem;
    font-size: 20px;
    color: rgb(255, 255, 255,0.8);
}

.banner button {
    margin-top: 2rem;
    background-color: var(--app-orange);
}

.banner button:hover {
    background-color: var(--app-orange-hover);
}

.hero-text {
    width: 600px;
    height: auto;
    padding: 20px 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text h2 {
    font-size: 4.8rem;
    color: #fff;
}

section.svg {
    position:absolute;
    top: 70%;
    padding:0px;
    width: 100%;
    height: 450px;
}

.svg svg {
    border: 1px solid red;
    height: 100%;
    width: 100%;
}


/* -------------------------------- */
/* Section- Cuisine Catalog         */
/* -------------------------------- */
section.catalog {
    margin-top: 0rem;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}

.section-heading {
    width: 620px;
    margin-inline: auto;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.buttons {
    height: 60px;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:2rem;
}

button {
    width: 150px;
    height: 46px;
    color: #fff;
    font-size:16px;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
}

.new-recipe {
    background-color: var(--app-orange);
}

select.sort {
    padding: 10px 10px;
    width: 200px;
    margin-top: 0px;
    height: 48px;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid #333;
}

option {
    padding: 20px 0px;
}

.new-recipe:hover {
    background-color: var(--app-orange-hover);
    color: #fff;
}

.catalog-display {
    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}


.meal {
    width: 250px;
    height: 300px;
    margin: 10px auto;
    border-radius: 5px;
    transition: all 0.45s ease-in-out;
    background-color: rgb(172, 186, 188, 0.1);
    padding:0px 3px;
    box-shadow: rgba(48, 48, 48, 0.1) 0px 20px 20px -8px, rgba(54, 54, 54, 0.1) 0px 10px 10px -10px;
    border: 1px solid transparent;
}

.meal:hover{
    transform: translateY(-6px);
}

.meal-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.meal-info {
    display: flex;
    flex-direction: row;
}

.meal-name {
    color:var(--text-color);
    margin-top:6px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size: 14px;
    width: 150px;
}

.meal-area {
    color:var(--text-color);
    margin-left: auto;
    margin-right: 0;
    font-size: 14px;
    margin-top:6px;
    width: 80px;
    text-align: right;
}


img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.meal img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* -------------------------------- */
/* Meal Details                    */
/* -------------------------------- */
section.details-page {
    margin-top: 2.5rem;
    display: grid;
    place-items: center;
    height: 100%;
}

.meal-details {
    height: 100%;
}

.meal-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}

.meal-image {
    width: 400px;
    height: 400px;
}

.details {
    width: 63%;
    padding: 25px 20px;
}

.details h3 {
    color: var(--text-color);
}

.details-title {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 500px;
    color: var(--app-orange);
}

.details-area {
    margin-top: 25px;
}

.details-video {
    margin-top: 36px;
    display:flex;
    place-items: center;
    height: 60px;
}

a.watch-video {
    text-decoration: none;
    padding: 10px 20px;
    height: 46px;
    color: #fff;
    font-size:16px;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    background-color: var(--app-orange);
    text-align: center;
}

a.watch-video:hover {
    background-color: var(--app-orange-hover);
}

.fa-circle {
    font-size: 14px;
    color: rgb(21, 109, 75);
}

.ingredients {
    margin-top: 3rem;
    height: auto;
    padding: 20px 0px;
}

ul li {
    list-style-position: inside;
    line-height: 30px;
}

.instructions {
    padding: 20px 0px;
    margin-top: 3rem;
    height: auto;
}

article {
    height: auto;
    padding: 20px 0px;
}

article p {
    font-size: 20px;
}

/* -------------------------------- */
/* Add Recipe Page                  */
/* -------------------------------- */

section.add-recipe-page {
    margin-top: 0rem;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 20px 0px;
    /* background-image: url('../media/recipe.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative; */
}

form {
    border: 1px solid #fff;
    width: 400px;
    height: 650px;
    background-color: #fff;
    /* background-image: linear-gradient(128deg, #eff2ed 0%, #e6e9e3 74% ); */
    border-radius: 15px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}

input[type = "text"], input[type="url"] {
    width: 100%;
    height: 46px;
    padding: 0 15px;
    border: 1px solid rgb(51, 51, 51, 0.15);
    background-color: rgba(148, 146, 146, 0.1);
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px -8px, rgba(0, 0, 0, 0.1) 0px 10px 10px -10px; */
    font-size: 15px;
    font-weight: 400;
    color: #333;
    text-align: left;
    transition: all 0.30s ease-in-out;
    margin-top: 7px;
}

input[type = "text"]:focus, input[type = "url"]:focus,select:focus, textarea:focus {
    border: 1px solid rgb(51, 51, 51, 0.25);
}

h4 {
    font-size: 30px;
    color: var(--app-orange);
    font-weight: 500;
    text-align: center;
}

input[type="submit"] {
    margin: 20px 0px 0px auto;
    width: 130px;
    height: 46px;
    color: #fff;
    font-size:14px;
    border-radius: 25px;
    background-color: var(--app-orange);
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--app-orange-hover);
}

input[type="submit"]:disabled {
    background-color: #333;
}

input[type="url"] {
    margin-top: 7px;
}

select, textarea {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgb(51, 51, 51, 0.15);
    background-color: rgba(148, 146, 146, 0.1);
    margin-top: 8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: #333;
}

textarea {
    margin-top: 12px;
    height: 180px;
    resize: none;
}

input + input {
    margin-top: 10px;
}

form p {
    color: #333;
}

.error-message {
    font-size: 12px;
    width: 300px;
    height: 16px;
    color: rgb(212 4 4 /0.6);
    margin-left: 3px;
    visibility: hidden;
    opacity: 0;
}

.is-visible {
    visibility: visible;
    opacity: 1;
}


/* -------------------------------- */
/*           Footer                 */
/* -------------------------------- */

footer {
    width: 100%;
    height: 210px;
    overflow: hidden;
    border: none;
    margin-top: 60px;
    padding: 10px;
    background-color: #1a1c27;
    bottom: 0;
}

.footer {
    display: flex;
    flex-direction: column;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.logo {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-inline: auto;
}

.social-icons {
    height: 100px;
    margin-inline: auto;
    padding: 10px;
    border: none;
}
  
.social-icons ul {
    list-style: none;
    text-align: center;
}
  
.social-icons ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin-left: 5px;
}
  
.social-icons ul li a {
    display: inline-block;
    padding: 5px 0px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: #d7d8d8;
    border: 1px solid rgb(255 255 255 / 0.15);
    border-radius: 5px;
    transition: all 0.35s ease-in-out;
}
    
.fa-brands:hover  {
    color: var(--app-orange-hover);
}
  
p.copyright {
    font-size: 14px;
    color:  #adadad;
    opacity: 0.4;
    font-weight: 400; 
    text-align: center;
    margin-top: 15px;
}

/* -------------------------------- */
/* Not Found Page                   */
/* -------------------------------- */

.not-found-page {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #1a1c27;
}

.error-box {
    padding: 5px 0px;
    width: 50%;
    height: 600px;
}

.error-image {
    margin-inline: auto;
    width: 360px;
    height: 360px;
}


.not-found-text {
    padding: 8px 0px;
    text-align: center;
}

.not-found-text h4 {
    font-size: 2.8rem;
    color: rgb(255, 255, 255,0.9);
}

.not-found-text p {
    color: rgb(255, 255, 255,0.9);
}

.back-home {
    background-color: var(--app-orange);
    margin-top: 20px;
}


/* -------------------------------- */
/* Media Queries                    */
/* -------------------------------- */
@media screen and (max-width: 980px) {
    .hamburger-menu {
        display: block;
    }

    nav ul li, .contact {
        display: none;
    }

    #menu-toggle {
        opacity: 0;
    }

    #menu-toggle:checked + .menu-btn > span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked + .menu-btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #menu-toggle:checked + .menu-btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked ~ .menu-box {
        left: 54.5% !important;
    }

    .menu-btn {
        position: absolute;
        top: 31px;
        left: 89%;
        width: 24px;
        height: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--text-color);
        transition-duration: .25s;
    }

    .menu-btn > span::before {
        content: '';
        top: -8px;
    }

    .menu-btn > span::after {
        content: '';
        top: 8px;
    }

    .error-box {
        padding: 5px 0px;
        width: 100%;
        height: 600px;
    }
    
}


@media screen and (max-width: 450px) {
    .banner p {
        margin-top: 1rem;
        font-size: 16px;
    }
    
    .banner button {
        margin-top: 2rem;
        background-color: var(--app-orange);
    }
    
    .hero-text {
        width: 400px;
        height: auto;
        padding: 20px 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hero-text h2 {
        font-size: 6rem;
        line-height:100px;
        color: #fff;
    }

    .section-heading p {
        font-size: 13.5px;
    }

    .section-heading {
        width: 380px;
        height: auto;
        margin-top: 2rem;
    }
    
    h2 {
        font-size: 2.6rem;
    }

    select.sort {
        width: 160px;
        height: 45px;
    }

    form {
        width: 95%;
        height: 650px;
    } 
    
    button {
        width: 130px;
        height: 44px;
    }

    .meal-details {
        height: 100%;
    }
    
    .meal-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0px;
    }
    
    .meal-image {
        width: 330px;
        height: 350px;
        margin-inline: auto;
    }
    
    .details {
        margin-inline: auto;
        width: 100%;
        padding: 20px 20px;
    }
    
    .details h3 {
        color: var(--text-color);
    }
    
    .details-title {
        margin-top: 20px;
        font-size: 2.7rem;
        font-weight: 500px;
        line-height: 50px;
        color: var(--app-orange);
    }
    
    .details-area {
        margin-top: 25px;
    }
    
    .details-video {
        margin-top: 30px;
        display:flex;
        place-items: center;
        height: 60px;
    }
    
    a.watch-video {
        text-decoration: none;
        padding: 10px 20px;
        height: 44px;
    }

    .fa-circle {
        color: rgb(21, 109, 75);
    }
    
    .ingredients {
        margin-top: 3rem;
        height: auto;
        padding: 20px;
    }
    
    .instructions {
        padding: 20px;
        margin-top: 3rem;
        height: auto;
    }
    
    article {
        height: auto;
        padding: 20px 0px;
    }
    
    article p {
        font-size: 17px;
        text-align: justify;
        text-justify: inter-word;
    }

    .error-box {
        padding: 5px;
        width: 100%;
        height: 550px;
    }

    .error-image {
        margin-inline: auto;
        width: 340px;
        height: 340px;
    }

    .buttons {
        margin-inline: auto;
        height: 60px;
        width: 88%;
        padding: 5px 0px;
    }
    
    
    .not-found-text {
        padding: 8px 0px;
        text-align: center;
    }
    
    .not-found-text h4 {
        font-size: 1.8rem;
    }
    
    .meal {
        width: 350px;
        height: 395px;
    }
    
}

@media screen and (max-width: 390px) {
    .banner p {
        margin-top: 1rem;
        font-size: 16px;
    }
    
    .hero-text {
        width: 350px;
        height: auto;
        padding: 20px 0px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hero-text h2 {
        font-size: 5rem;
        line-height: 90px;
        color: #fff;
    }

    .section-heading p {
        font-size: 13.5px;
    }

    .section-heading {
        width: 330px;
        height: auto;
        margin-top: 2rem;
    }
    
    h2 {
        font-size: 2.6rem;
    }

    .details-title {
        font-size: 2.2rem;
        line-height: 47px;
        color: var(--app-orange);
    }

    .details-area {
        margin-top: 20px;
        font-size: 15px;
    }
    
    .details-video {
        margin-top: 25px;
        display:flex;
        place-items: center;
        height: 60px;
    }

    .error-box {
        padding: 5px;
        width: 100%;
        height: 480px;
    }

    .error-image {
        width: 300px;
        height: 300px;
    }
    
    .not-found-text {
        padding: 8px 0px;
        text-align: center;
    }
    
    .not-found-text h4 {
        font-size: 1.55rem;
    }

    .meal {
        width: 320px;
        height: 370px;
    }

    .buttons {
        margin-inline: auto;
        height: 60px;
        width: 91%;
    }
}
